In [1]:
# autoreload
%load_ext autoreload
%autoreload 2

# configure logging
import logging
logging.basicConfig(level=logging.WARNING)
logging.getLogger('Assignment2RRBSDataSource').setLevel(logging.DEBUG)
logging.getLogger('GlmNetEpigeneticClockTrainer').setLevel(logging.DEBUG)
logging.getLogger('download_file').setLevel(logging.DEBUG)

In [2]:
%%time
import os
from epigenetic_clock_assignment import download_file

data_dir = 'data/assignment2'
meta_csv_filepath = os.path.join(data_dir, 'MetaPolished.csv')
features_csv_filepath = os.path.join(data_dir, 'FTGenForGenomicCov.py-cov5.csv')
features_zip_filepath = os.path.join(data_dir, 'FTGenForGenomicCov.py-cov5.csv.zip')

# download features file if does not exists
download_file(url='https://kerepesi.web.elte.hu/bioinf_ora/FTGenForGenomicCov.py-cov5.csv.zip',
              out_filepath=features_csv_filepath, 
              intermediate_archive_filepath=features_zip_filepath,
              archive_format='zip')

DEBUG:download_file:file data/assignment2/FTGenForGenomicCov.py-cov5.csv already exists; do not download again

CPU times: user 2.35 s, sys: 2.84 s, total: 5.2 s
Wall time: 3.5 s

In [6]:
%%time

import os
from epigenetic_clock_assignment import Assignment2RRBSDataSource

data_source = Assignment2RRBSDataSource(
    meta_csv_filepath=meta_csv_filepath,
    features_csv_filepath=features_csv_filepath,
    features_pickle_cache_filepath=os.path.join(data_dir, 'features_cache.pickle'))

df = data_source.load_features_from_csv2()

DEBUG:Assignment2RRBSDataSource:loading "data/assignment2/FTGenForGenomicCov.py-cov5.csv" using dask...
DEBUG:Assignment2RRBSDataSource:setting "Pos" field as index...
DEBUG:Assignment2RRBSDataSource:converting to pandas dataframe...
DEBUG:Assignment2RRBSDataSource:converted; shape=(8722093, 182)

CPU times: user 8min 9s, sys: 1min 51s, total: 10min
Wall time: 2min 46s

In [ ]:
#df = df.set_index('Pos')
df.fillna(value=42, axis=1, inplace=True, limit=1)

In [5]:
df

,SRR9190430,SRR9190431,SRR9190432,SRR9190433,SRR9190434,SRR9190435,SRR9190436,SRR9190437,SRR9190438,SRR9190439,...,SRR9190783,SRR9190784,SRR9190785,SRR9190786,SRR9190787,SRR9190788,SRR9190789,SRR9190790,SRR9190791,SRR9190792
Pos,,,,,,,,,,,,,,,,,,,,,
10_100001655,42.0,42.000,42.0,42.0,42.000,42.0,42.0,42.0,42.0,42.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0
10_100001659,42.0,42.000,42.0,42.0,42.000,42.0,42.0,42.0,42.0,42.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0
10_100001680,42.0,42.000,42.0,42.0,42.000,42.0,42.0,42.0,42.0,42.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0
10_100001702,42.0,42.000,42.0,42.0,42.000,42.0,42.0,42.0,42.0,42.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0
10_100001706,42.0,42.000,42.0,42.0,42.000,42.0,42.0,42.0,42.0,42.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Y_9950828,1.0,0.778,42.0,42.0,0.889,42.0,42.0,42.0,42.0,42.0,...,42.0,42.0,42.0,42.0,0.8,42.0,0.8,42.0,42.0,42.0
Y_9980967,42.0,42.000,42.0,42.0,42.000,42.0,42.0,42.0,42.0,42.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0
Y_9981045,42.0,42.000,42.0,42.0,42.000,42.0,42.0,42.0,42.0,42.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0
Y_9994083,42.0,42.000,42.0,42.0,42.000,42.0,42.0,42.0,42.0,42.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0
Y_9994254,42.0,42.000,42.0,42.0,42.000,42.0,42.0,42.0,42.0,42.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0

In [13]:
import pandas as pd
import numpy as np
dfna = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))
dfna

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [14]:
dfna.fillna(42, limit=1, axis=1)

      A    B     C    D
0  42.0  2.0   NaN  0.0
1   3.0  4.0  42.0  1.0
2  42.0  NaN   NaN  NaN
3  42.0  3.0   NaN  4.0

In [ ]:
df.fillna(value=42, limit=1, axis=1)

In [31]:
a = df.loc['Y_9950828']
a.mean(), a.median(), a.mode()

(0.81516284,
 0.889,
 0    1.0
 Name: Y_9950828, dtype: float32)

In [21]:
#df['Pos'].iloc[-30:]
print('nan rows', f'{(df.isna().sum(axis=1) > 0).sum():_}')
print('nonnan rows', f'{(df.isna().sum(axis=1)  == 0).sum():_}')
print('sum', df.shape[0])

nan rows 6_138_477
nonnan rows 2_583_616
sum 8722093