In [1]:
# autoreload
%load_ext autoreload
%autoreload 2

# configure logging
import logging
logging.basicConfig(level=logging.WARNING)
logging.getLogger('Assignment2RRBSDataSource').setLevel(logging.DEBUG)
logging.getLogger('GlmNetEpigeneticClockTrainer').setLevel(logging.DEBUG)
logging.getLogger('download_file').setLevel(logging.DEBUG)

In [1]:
%%time
import os
from epigenetic_clock_assignment import download_file

data_dir = 'data/assignment2'
meta_csv_filepath = os.path.join(data_dir, 'MetaPolished.csv')
features_csv_filepath = os.path.join(data_dir, 'FTGenForGenomicCov.py-cov5.csv')
features_zip_filepath = os.path.join(data_dir, 'FTGenForGenomicCov.py-cov5.csv.zip')

# download features file if does not exists
download_file(url='https://kerepesi.web.elte.hu/bioinf_ora/FTGenForGenomicCov.py-cov5.csv.zip',
              out_filepath=features_csv_filepath, 
              intermediate_archive_filepath=features_zip_filepath,
              archive_format='zip')

CPU times: user 1.47 s, sys: 4.18 s, total: 5.65 s
Wall time: 891 ms

In [2]:
%%time

import os
from epigenetic_clock_assignment import Assignment2RRBSDataSource

data_source = Assignment2RRBSDataSource(
    meta_csv_filepath=meta_csv_filepath,
    features_csv_filepath=features_csv_filepath,
    features_pickle_cache_filepath=os.path.join(data_dir, 'features_cache.pickle'))

ddf = data_source.load()

PARTS 20
CPU times: user 21min 41s, sys: 6min 13s, total: 27min 55s
Wall time: 22min 54s

In [4]:
ddf.head()

AttributeError: 'tuple' object has no attribute 'head'

In [15]:
import gc 
gc.collect()

22628

In [ ]:
column_medians = df.median()

In [13]:
column_means = df.mean()

In [16]:
column_means.shape

(8722093,)

In [17]:
df.fillna(column_means, inplace=True)

KeyboardInterrupt:

In [15]:
#ddf.head()
 #dd.from_pandas(pd.DataFrame(data), npartitions=2)

#column_means = ddf.mean()

#column_means = df.mean()

In [10]:
%%time

import dask.dataframe as dd

ddf = dd.from_pandas(df, npartitions=182)

KeyboardInterrupt:

In [10]:
del ddf

NameError: name 'ddf' is not defined

In [14]:
column_means

#df_filled = df.fillna()

df_filled = ddf.fillna(column_means)

Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x7f81cc36c670>>
Traceback (most recent call last):
  File "/home/szazo/.envs/bio/lib/python3.8/site-packages/ipykernel/ipkernel.py", line 775, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(
KeyboardInterrupt:

KeyboardInterrupt

In [6]:
import dask
import pandas as pd

def fill_na_with_row_mean(df: pd.DataFrame):
    return df.apply(lambda row: row.fillna(row.mean()), axis=1)

ddf_filled = ddf.map_partitions(fill_na_with_row_mean, meta=ddf)



#withna = df.fillna(value=42, axis=1, limit=1)
#df_result = df.compute()

#df_filled = df.apply(lambda row: row.fillna(row.mean()), axis=1)

In [8]:
ddf_filled.tail()

,SRR9190430,SRR9190431,SRR9190432,SRR9190433,SRR9190434,SRR9190435,SRR9190436,SRR9190437,SRR9190438,SRR9190439,...,SRR9190783,SRR9190784,SRR9190785,SRR9190786,SRR9190787,SRR9190788,SRR9190789,SRR9190790,SRR9190791,SRR9190792
Pos,,,,,,,,,,,,,,,,,,,,,
Y_9950828,1.00000,0.77800,0.815163,0.815163,0.88900,0.815163,0.815163,0.815163,0.815163,0.815163,...,0.815163,0.815163,0.815163,0.815163,0.80000,0.815163,0.80000,0.815163,0.815163,0.815163
Y_9980967,0.75275,0.75275,0.752750,0.752750,0.75275,0.752750,0.752750,0.752750,0.752750,0.752750,...,0.752750,0.752750,0.752750,0.752750,0.75275,0.752750,0.75275,0.752750,0.752750,0.752750
Y_9981045,0.18000,0.18000,0.180000,0.180000,0.18000,0.180000,0.180000,0.180000,0.180000,0.180000,...,0.180000,0.180000,0.180000,0.180000,0.18000,0.180000,0.18000,0.180000,0.180000,0.180000
Y_9994083,0.00000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000
Y_9994254,1.00000,1.00000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.00000,1.000000,1.000000,1.000000

In [7]:
df_result = withna.compute()

In [8]:
df_result.head()

,Pos,SRR9190430,SRR9190431,SRR9190432,SRR9190433,SRR9190434,SRR9190435,SRR9190436,SRR9190437,SRR9190438,...,SRR9190783,SRR9190784,SRR9190785,SRR9190786,SRR9190787,SRR9190788,SRR9190789,SRR9190790,SRR9190791,SRR9190792
0,10_100001655,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0
1,10_100001659,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0
2,10_100001680,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0
3,10_100001702,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0
4,10_100001706,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0

In [4]:
chunk_size = 10000
for start_idx in range(0, df.shape[0], chunk_size):
    df.iloc[start_idx:start_idx + chunk_size].fillna(42, limit=1, axis=1, inplace=True)
    #print(chunk)
    break
    
df.head()
# Define chunk size
#chunk_size = 3

# List to hold processed chunks
#chunks = []

# Process each chunk
#for start in range(0, df.shape[0], chunk_size):
#    chunk = df.iloc[start:start + chunk_size]

TypeError: 'Delayed' object cannot be interpreted as an integer

In [ ]:
#df = df.set_index('Pos')
#df.fillna(value=42, axis=1, inplace=True, limit=1)

In [7]:
df.head()

duplicated_positions = df['Pos'].duplicated()
n_duplicated = duplicated_positions.sum()
n_duplicated

df.head()
#duplicate_values = df['Product'].duplicated()

,Pos,SRR9190430,SRR9190431,SRR9190432,SRR9190433,SRR9190434,SRR9190435,SRR9190436,SRR9190437,SRR9190438,...,SRR9190783,SRR9190784,SRR9190785,SRR9190786,SRR9190787,SRR9190788,SRR9190789,SRR9190790,SRR9190791,SRR9190792
0,10_100001655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10_100001659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10_100001680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10_100001702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10_100001706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
import pandas as pd
import numpy as np
dfna = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))
dfna

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [14]:
dfna.fillna(42, limit=1, axis=1)

      A    B     C    D
0  42.0  2.0   NaN  0.0
1   3.0  4.0  42.0  1.0
2  42.0  NaN   NaN  NaN
3  42.0  3.0   NaN  4.0

In [ ]:
df.fillna(value=42, limit=1, axis=1)

In [31]:
a = df.loc['Y_9950828']
a.mean(), a.median(), a.mode()

(0.81516284,
 0.889,
 0    1.0
 Name: Y_9950828, dtype: float32)

In [21]:
#df['Pos'].iloc[-30:]
print('nan rows', f'{(df.isna().sum(axis=1) > 0).sum():_}')
print('nonnan rows', f'{(df.isna().sum(axis=1)  == 0).sum():_}')
print('sum', df.shape[0])

nan rows 6_138_477
nonnan rows 2_583_616
sum 8722093